.tarumian {
    font-family: "ArTarumianBarak";
    color: #435680;
    font-weight: bold;
}

.painting-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    justify-content: space-between;
    padding-bottom: 10px;
}

img.painting {
    width: 170px;
    height: 150px;
    border-style: solid;
    border-width: 8px;
    object-fit: contain;

}

div.painting {
    margin-top: 15px;
    flex: 1 0 15%;
    text-align: center;
}

.modal {
    text-align: center;
}

.modal-dialog {
    background-image: url('../img/background-tile-beige.jpg');
    background-repeat: repeat;
    max-width: 100%; 
    width: auto !important; 
    display: inline-flex; 
    height: calc(100vh - 70px) !important;
}

.modal-content {
    padding: 25px;
    background-color: transparent;
    height: 100% !important;
    text-align: center;
}

.modal-content p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-content b.title {
    font-style: italic;
}

img.painting-full {
    width: 100%;
    height: 90%;
    object-fit: contain;
    border-style: solid;
    border-width: 15px;
    border-image: url('../img/Ramka1.png') 5 4 4 5 repeat;
}

p.title-line {
    margin-top: 15px;
}